 @use '../sass/variables' as v;
  
  
  .img3 {
    width: 100%;
    align-items: center;
  }
  
  .div1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    border: v.$primary-color;
    width: fit-content;
    padding: 1rem;
  }
  
  .div1 a {
    padding-inline: 1rem;
    padding-block: 0.75rem;
    background-color: v.$secondary-color;
    font-weight: 600;
  }
  
  section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-content: center;
    justify-content: center;
  }
  
  .logo {
    width: 50px;
    margin-bottom: 5rem;
  }
  
  .div2 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
  
  .cuotas {
    color: v.$tertiary-color;
  }
  
  .product {
    background-color: v.$cuarta-color;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .product img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .product h2 {
    margin: 10px 0;
  }
  
  .product p {
    color: v.$quinta-color;
  }
  
  .product a {
    padding-inline: 1rem;
    padding-block: 0.75rem;
    background-color: v.$secondary-color;
    font-weight: 600;
  }