$primary-color: solid grey 2px;
$secondary-color: aqua;
$tertiary-color: dimgray;
$cuarta-color: #fff;
$quinta-color: #555;
$sexta-color: rgb(0, 26, 255);
$septima-color: blueviolet;
$octava-color: black;
$novena-color: #e7e7e7;
$decima-color: grey;
$onceava-color: solid #ccc;